<?xml version="1.0" encoding="UTF-8"?>
<settings>
		<setting label="30051" type="bool" id="notify" default="true" />
		<setting label="30000" type="text" id="mpd_host" default="localhost"/>
		<setting label="30001" type="text" id="mpd_port" default="6600"/>
		<setting label="30035" type="text" id="mpd_pass" option="hidden" default="" />
		<setting label="30033" type="text" id="stream_url" default="" />
		<setting label="30034" type="bool" id="play_stream" default="false" />
		<setting label="30064" type="bool" id="play_on_queued" default="false" />
		<setting label="30043" type="enum" id="fetch-albums" lvalues="30045|30046|30047" default="0" />
		<setting label="30044" type="bool" id="fetch-cache" visible="eq(-1,1)" default="false" />
		<setting label="30049" type="text" id="fetch-search-image" visible="eq(-2,2)" default="*.jpg" />
		<setting label="30048" type="folder" id="media_root"  source="\"  default="" visible="eq(-3,2)" />
		<setting label="30052" type="bool" id="force_settings" default="false" />
		<setting label="30053" type="bool" id="force_random" default="false" visible="eq(-1,true)" />
		<setting label="30054" type="bool" id="force_repeat" default="false" visible="eq(-2,true)" />
		<setting label="30055" type="bool" id="force_single" default="false" visible="eq(-3,true)" />
		<setting label="30056" type="bool" id="force_consume" default="false" visible="eq(-4,true)" />
</settings>
